@charset "utf-8";
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1,
figcaption {
    text-align: center;
}

.galeria {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Estilos para las distintas tarjetas */

figure:nth-child(3) {
    grid-column-start: span 2;
}

figure:nth-child(6) {
    grid-row-start: span 2;
}

figure:nth-child(9) {
    grid-column-start: span 2;
}


/* Formato para los títulos */

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    padding: 10px;
}


/* Estilos para la ventana Modal */

.modal {
    width: 100vw;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.modal-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-imagen {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.modal-boton {
    position: absolute;
    color: #fff;
    font: bold 2em;
    top: 50px;
    right: 150px;
    background: #ff0000;
    width: 50px;
    height: 50px;
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.modal-visible {
    display: block;
}

.galeria-imagenes:hover {
    cursor: pointer;
}


/* Media Query */

@media (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
    figure:nth-child(2) {
        grid-column-start: span 2;
    }
    figure:nth-child(6) {
        grid-row-start: span 1;
    }
    figure:nth-child(7) {
        grid-row-start: span 2;
    }
    figure:nth-child(8) {
        grid-column-start: span 2;
    }
    figure:nth-child(9) {
        grid-column-start: span 3;
    }
}

@media(min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }
    figure:nth-child(1) {
        grid-column-start: span 2;
    }
    figure:nth-child(3) {
        grid-column-start: span 1;
    }
    figure:nth-child(4) {
        grid-row-start: span 2;
    }
    figure:nth-child(5) {
        grid-column-start: span 2;
    }
    figure:nth-child(7) {
        grid-column-start: span 2;
    }
    figure:nth-child(9) {
        grid-column-start: span 4;
    }
}