*,::before,::after{
    margin:0px;
}
html, body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px; /* proporciones rem, determinamos la unidad desde un elemento en el que no se ve, las proporciones NO cambian con el dispositivo*/
    width: 100vw;
    min-height: 100vh;
    background-image: url(../IMG/gif1.gif), url(../IMG/background.jpg) ;
    background-size: 50% , cover ;
    background-position: center;
    background-repeat: no-repeat;
}

