*,::before,::after{
    margin:0px;
}

th, td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
}

th{
    background-color:coral;
}
th+th{
    background-color: aquamarine;
}